---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "@assets/marcela-rogante-xfPpB7Pe8NA-unsplash.jpg";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <section class="mb-8">
    <h1 class="mb-6 text-6xl font-black">Disgruntled retail workers wanted!</h1>
    <div class="relative mb-4">
      <Image
        class="rounded-lg shadow shadow-gray-500"
        src={heroImage}
        alt="Panales storefront during daytime"
        loading="eager"
      />
      <div
        class="absolute inset-0 rounded-lg bg-gradient-to-t from-rose-600 via-rose-600/30"
      >
      </div>
      <h1 class="absolute bottom-0 left-0 p-4 text-2xl font-bold text-white">
        See how we can help you today!
      </h1>
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      maxime, minus laborum non quod maiores aperiam a, repellendus vel nemo,
      perferendis impedit aliquid modi qui quas accusantium adipisci distinctio
      laudantium.
    </p>
  </section>
  <section class="mb-8">
    <h2 class="mb-4 text-4xl font-bold">Unleash your inner rage</h2>
    <div class="my-4 flex w-full gap-4">
      <Image
        class="w-1/2 rounded-lg shadow shadow-gray-500"
        src={heroImage}
        alt=""
        loading="eager"
      />
      <Image
        class="w-1/2 rounded-lg shadow shadow-gray-500"
        src={heroImage}
        alt=""
        loading="eager"
      />
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
      maxime, minus laborum non quod maiores aperiam a, repellendus vel nemo,
      perferendis impedit aliquid modi qui quas accusantium adipisci distinctio
      laudantium.
    </p>
  </section>
  <section>
    <h2 class="mb-4 text-4xl font-bold">See what we're working on</h2>
    <div class="grid grid-cols-2 gap-4">
      {
        posts.map((post) => (
          <div class="group">
            <a href={`/blog/${post.slug}/`}>
              <div class="relative mb-2">
                <Image
                  class="rounded-lg shadow shadow-gray-500 delay-100"
                  src={post.data.heroImage.url}
                  alt={post.data.description}
                  loading="lazy"
                />
                <div class="absolute inset-0 rounded-lg bg-gradient-to-t from-rose-600 via-rose-600/30 opacity-0 transition-all delay-100 duration-300 ease-linear group-hover:opacity-100" />
              </div>
              <div class="flex flex-col">
                <h4 class="text-2xl font-semibold">{post.data.title}</h4>
                <p class="text-gray-500">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
            </a>
          </div>
        ))
      }
      <div></div>
    </div>
  </section>
</Layout>
