---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import heroImage from "@assets/marcela-rogante-xfPpB7Pe8NA-unsplash.jpg";
import vrImage from "@assets/minh-pham-jSAb1ifwf8Y-unsplash.jpg";
import supermarketImage from "@assets/hanson-lu-sq5P00L7lXc-unsplash.jpg";
import { getCollection } from "astro:content";
import FormattedDate from "@components/FormattedDate.astro";
import { YouTube } from "astro-embed";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<Layout>
  <section class="mb-8">
    <h2 class="mb-6 text-6xl font-black" id="countdown"></h2>
    <div class="relative mb-8">
      <Image
        class="rounded-lg shadow shadow-gray-500"
        src={heroImage}
        alt="Panales storefront during daytime"
        loading="eager"
      />
      <div
        class="absolute inset-0 rounded-lg bg-gradient-to-t from-rose-600 via-rose-600/30"
      >
      </div>
      <h3 class="absolute bottom-0 left-0 p-4 text-2xl font-bold text-white">
        See how we can help you today!
      </h3>
    </div>
    <h3 class="mb-4 text-4xl font-bold">Disgruntled retail workers wanted!</h3>
    <p class="text-gray-700">
      Step into the bustling aisles of Retail Therapy, the VR game that places
      you right into the everyday chaos of retail work! As the new employee at a
      clothing outlet store, your mission is to fulfil customer orders by
      carefully collecting the right items — or snagging the wrong one in a
      moment of frustration. It's up to you how you deliver the item too:
      directly into their hands with care, or as a fast moving projectile aimed
      directly towards them.
    </p>
  </section>
  <section class="mb-8">
    <h3 class="mb-4 text-4xl font-bold">Unleash your inner frustration</h3>
    <div class="my-4 flex w-full flex-col gap-4 md:flex-row">
      <Image
        class="w-full rounded-lg shadow shadow-gray-500 md:w-1/2"
        src={vrImage}
        alt=""
        loading="eager"
      />
      <Image
        class="w-full rounded-lg shadow shadow-gray-500 md:w-1/2"
        src={supermarketImage}
        alt=""
        loading="eager"
      />
    </div>
    <p class="text-gray-700">
      Be wary though! Whilst you race to meet quota, you'll need to keep a
      vigilant eye out for shoplifters lurking in the aisles, ready to test your
      observational skills and reaction time. With each shift, the stakes rise
      as you balance customer satisfaction, the chaos of mixed-up orders, and
      the thrill of catching a thief. Get ready for an entertaining experience
      where every day on the job is one you won't want to call in sick for!
    </p>
  </section>
  <section class="mb-8">
    <h3 class="mb-4 text-4xl font-bold">Watch our latest devlog</h3>
    <YouTube
      class="h-auto w-full max-w-full rounded-lg shadow shadow-gray-500"
      id="5AKl_cEB26c"
      posterQuality="max"
    />
  </section>
  <section>
    <h3 class="mb-4 text-4xl font-bold">See what we're working on</h3>
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      {
        posts.map((post) => (
          <div class="group">
            <a href={`/blog/${post.slug}/`} title={post.data.title}>
              <div class="relative mb-2">
                <Image
                  class="rounded-lg shadow shadow-gray-500"
                  src={post.data.heroImage.url}
                  alt={post.data.description}
                  loading="lazy"
                />
                <div class="absolute inset-0 rounded-lg bg-gradient-to-t from-rose-600 via-rose-600/30 opacity-0 transition-all delay-100 duration-300 ease-in-out group-hover:opacity-100" />
              </div>
              <div class="flex flex-col">
                <h4 class="text-2xl font-semibold">{post.data.title}</h4>
                <p class="text-gray-700">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </div>
            </a>
          </div>
        ))
      }
      <div></div>
    </div>
  </section>
</Layout>

<script>
  var countDownDate = new Date("Dec 12, 2024").getTime();

  var x = setInterval(function () {
    var now = new Date().getTime();

    var distance = countDownDate - now;

    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor(
      (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
    );
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

    document.getElementById("countdown")!.innerHTML =
      days +
      "d " +
      hours +
      "h " +
      minutes +
      "m " +
      seconds +
      "s " +
      "until launch!";

    if (distance < 0) {
      clearInterval(x);
      document.getElementById("countdown")!.innerHTML = "EXPIRED";
    }
  }, 1000);
</script>
