---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout>
  <article>
    <div>
      {
        heroImage && (
          <Image
            class="rounded-lg shadow shadow-gray-500"
            src={heroImage.url}
            alt={description}
            loading="eager"
          />
        )
      }
    </div>
    <div class="m-4 flex flex-col items-center justify-center">
      <div class="flex gap-1 text-gray-500">
        <FormattedDate date={pubDate} />
        {
          updatedDate && (
            <div class="last-updated-on">
              Last updated on <FormattedDate date={updatedDate} />
            </div>
          )
        }
      </div>
      <h1 class="text-5xl font-bold">{title}</h1>
      <hr />
    </div>
    <div
      class="prose max-w-full prose-p:text-gray-700 prose-img:rounded-lg prose-img:shadow prose-img:shadow-gray-500"
    >
      <slot />
    </div>
  </article>
</Layout>
